backend/proof_files/proof.smt2

# Backend

# dependenciesgit 
/backend/node_modules

/backend/./proof_files/*
/backend/.env

# Frontend

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend2/node_modules
/frontend2/.pnp
/frontend2/.pnp.js

# testing
/frontend2/coverage

# production
/frontend2/build

# misc
/frontend2/.DS_Store
/frontend2/.env.local
/frontend2/.env.development.local
/frontend2/.env.test.local
/frontend2/.env.production.local

/frontend2/npm-debug.log*
/frontend2/yarn-debug.log*
/frontend2/yarn-error.log*
