.value {
    max-height: '500px'; 
    overflow: 'auto';
    .bp3-collapse {
        max-height: 300px;
        overflow: auto;
    }
}

<<<<<<< HEAD
.dir-style #table-node-info {
    thead tr th:first-child,
    tbody tr td:first-child {
        width:200px;
        min-width: fit-content;
=======
#table-node-info {
    thead tr th:first-child,
    tbody tr td:first-child {
        width:200px;
>>>>>>> 36b3753c3fb9fdfa2f45b97be6eec169c3258a3b
    }
}