.bp3-drawer {
    width: 65%;
    height: max-content !important;
    margin: auto !important;
    #table-node-info {
        width: 90%;
        margin: auto;
        thead {
            tr {
                th:first-child {
                    width: 200px;
                }
            }
        }
        #rule-icon {
            color: white;
        }
        #pre-rule {
            white-space: pre-wrap;
        }
    }
}
