.spinner-container {
  text-align: center;
}

canvas {
  border: 1px black;
  background-color: #d4d4d4 !important;
  border-radius: 10px;
}

html,
body,
#root,
#root > .container {
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column;
  .visualizer {
    flex: 1; /* 1 and it will fill whole space left if no flex value are set to other children*/
    display: flex;
    flex-flow: column;
    .canvas-container {
      flex: 1;
    }
    .node-text {
      overflow: auto;
      height: 70px;
      width: calc(100%);
      text-align: center;
    }
    .proof-name {
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
      span {
        display: flex;
        button {
          margin-left: 10px;
        }
      }
    }
  }
}

#menu {
  position: absolute;
  display: none;
  width: 200px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
  z-index: 1;
}

#menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

#menu button:hover {
  background-color: lightgray;
}
